@import "../../variables";

.advantages {
  width: 100%;
  background: url('../custom/img/decor/bg-triangle.svg') center no-repeat;
  background-size: 100% 100%;
  @include media((
      padding: (xs-lg_1: 42px 0 104px 0, lg: 64px 0 104px 0)
  ));
  @include e(wrapper) {
    @include media($grid-width);
    margin: 0 auto;
  }
  @include e(title) {
    width: 100%;
    text-align: center;
    @include media((
        font-size: (xs-lg_1: 25px, lg: 40px)
    ));
    font-weight: 700;
    color: $dark-lighten;
    margin: 0 0 45px 0;
    text-transform: uppercase;
  }
  @include b(list) {
    width: 100%;
    @include reset('ul');
    display: flex;
    @include media((
        flex-direction: (xs-lg_1: column),
    ));
    @include b(item) {
      @include media((
          width: (xs-lg_1: 100%, lg: 33.3333%)
      ));
      &:not(:last-child) {
        @include media((
                margin: (xs-lg_1: 0 0 30px 0)
        ));
      }
      text-align: center;
      @include e(title) {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
      }
      @include e(secondary-text) {
        font-weight: 700;
        font-size: 20px;
        color: $dark-lighten;
      }
      @include e(primary-text) {
        font-weight: 700;
        font-size: 40px;
        color: $primary;
      }
    }
  }
}