@import "fonts";

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Circe', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  &.no-scroll {
    overflow-y: hidden;
  }
}

button {
  font-family: "Circe", sans-serif;
}

// components
@import "components/components";

// header
@import "blocks/header/header";
@import "blocks/top-line/top-line";

////slider
@import "blocks/slider/slider";
//
//// advantages
@import "blocks/advantages/advantages";
//
//// learning-benefits
@import "blocks/learning-benefits/learning-benefits";
//
//// main-quiz
@import "blocks/main-quiz/main-quiz";
//
//// courses
@import "blocks/courses/courses";