@import "../../variables";

.courses {
  width: 100%;
  background: #fafafa;
  @include e(wrapper) {
    width: 100%;
    margin: 0 auto;
    padding: 88px 0 0 0;
  }
  @include e(title) {
    font-size: 30px;
    color: $dark-lighten;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin: 0 0 60px 0;
  }
  @include b(block) {
    display: flex;
    align-items: stretch;


    @include b(left-nav) {
      @include media((
        margin: (lg: 0 52px 0 0, xl: 0 113px 0 0),
              padding: (lg: 0 0 0 3%, xl: 0 0 0 18%)
      ));
      @include b(list) {
        @include reset('ul');
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        @include e(item) {
          user-select: none;
          white-space: nowrap;
          line-height: 37px;
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
          color: $dark-lighten;
          position: relative;
          border-color: transparent;
          border-style: solid;
          border-width: 0 0 0 .8px;
          transition: color .1s ease-in-out, font-weight .1s ease-in-out;
          cursor: pointer;
          &:not(:last-child) {
            margin: 0 0 20px 0;
          }
          &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            bottom: 0;
            background: transparent;
          }
          &:hover {
            color: $primary;
            &:after {
              background: $primary;
            }
          }
          @include m(active) {
            font-weight: 800;
            color: $primary;
            cursor: auto;
            border-width: 0;
            &:after {
              background: $primary;
            }
          }
        }
      }
    }
    @include b(main) {
flex: 1;
      @include b(top-nav) {

        @include b(list) {
          display: flex;
          @include reset('ul');
          @include e(item) {
            white-space: nowrap;
            font-size: 18px;
            user-select: none;
            color: #444444;
            line-height: 27px;
            position: relative;
            transition: color .1s ease-in-out, font-weight .1s ease-in-out;
            cursor: pointer;
            border-color: transparent;
            border-style: solid;
            border-width: 0 .57px 0 0;
            &:not(:last-child) {
              @include media((
                margin: (lg: 0 24px 0 0, xl: 0 32px 0 0)
              ));
            }

            &:after {
              content: '';
              position: absolute;
              width: 100%;
              height: 3px;
              left: 0;
              bottom: 0;
              background: transparent;
            }
            &:hover {
              color: $primary;
              &:after {
                background: $primary;
              }
            }
            @include m(active) {
              font-weight: 700;
              color: $primary;
              border-width: 0;
              cursor: auto;
              &:after {
                background: $primary;
              }
            }
          }
        }
      }
      @include b(content) {
        flex: 1;
        overflow: hidden;
        @include b(items) {
          width: 100%;
          position: relative;
          margin: 34px 0 0 0;
          @include b(one) {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            display: flex;
            align-items: stretch;
            transition: .5s opacity ease-in-out, position 1s ease-in-out;
            @include m(active) {
              z-index: 999;
              position: relative;
              opacity: 1;
              & .courses-block-main-content-items-one__image {
                opacity: 1;
              }
            }

            @include e(image) {
              position: absolute;
              @include media((
                width: (lg: 100%, xl: 65%),
                      right:  (lg: -50%, xl: 0),
                      background-position: (lg: left bottom, xl: left bottom)
              ));
              bottom: 0;
              height: 100%;
              opacity: 0;
              transition: opacity .5s ease-in-out .25s, height .25s ease-in-out;
              background-size: auto 100%;
              background-repeat: no-repeat;
              z-index: -1;
            }
            @include b(info) {
              width: 100%;
              @include media((
                padding: (lg: 0 35% 74px 0, xl: 0 65% 74px 0)
              ));
              @include e(description) {
                font-weight: 300;
                color: #444444;
                margin: 0 0 20px 0;
              }

              @include e(secondary) {
                display: block;
                font-weight: 300;
                color: #444444;
                margin: 0 0 30px 0;
                z-index: 2;
              }
              @include b(list) {
                @include reset('ul');
                margin: 0 0 42px 0;
                z-index: 2;
                @include b(item) {
                  @include e(icon) {
                    font-size: 18px;
                    line-height: 27px;
                    margin: 0 20px 0 0;
                    width: 23px;
                    text-align: center;
                    color: $primary;
                    &:not(:last-child) {
                      @include media((
                              margin: (lg-xl: 0 0 10px 0)
                      ));
                    }
                  }
                  @include e(link) {
                    line-height: 27px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
