@import "../../variables";

.learning-benefits {
  width: 100%;
  padding: 60px 0 75px 0;
  @include e(wrapper) {
    @include media($grid-width);
    margin: 0 auto;
  }
  @include e(title) {
    width: 100%;
    text-align: center;
    color: $dark-lighten;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 52px 0;
    text-transform: uppercase;

  }

  @include b(list) {
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    @include media((
        padding: (lg: 0 15px, xl: 0 85px)
    ));
    @include b(item) {
      width: calc((100% - 170px) / 3);
      display: flex;
      flex-direction: column;
      @include media((
        margin: (lg: 0 85px 40px 0)
      ));
      &:nth-child(3n+3) {
        @include media((
            margin: (lg: 0)
        ));
      }
      opacity: 1;
      @include m(hidden) {
        opacity: 0;
      }
      @include e(icon) {
        width: 60px;
        height: 60px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 0 18px 0;
      }
      @include e(description) {
        font-size: 18px;
        text-align: left;
      }
    }
  }
}