@import "../../variables";

.main-slider {
  width: 100%;
  position: relative;
  @at-root {
    & .dots-container {
      width: 100%;
      position: absolute;
      text-align: center;
      @include media((
              bottom: (xs-lg_1: 30px, lg: 43px)
      ));
      & > .dot {
        user-select: none;
        display: inline-block;
        @include media((
            width: (xs-lg_1: 16px, lg: 21px),
                height: (xs-lg_1: 16px, lg: 21px)
        ));
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        transition: background .1s ease-in-out;
        &.active {
          background: $dark-lighten;
        }
        &:not(:last-child) {
          @include media((
                  margin: (xs-lg_1: 0 24px 0 0, lg: 0 29px 0 0),
          ));
        }
      }
    }
  }
  @include e(container) {
    width: 100%;
    @include media((
        height: (xs-lg_1: 400px, lg: 500px)
    ));
  }
  @include b(item) {
    @include media((
            background-size: (xs: auto 100%, xl: 100% auto),
            background-position: (xs: right center, xl: center center)
    ));
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: padding 1s ease-in-out, opacity 1s ease-in-out, visibility 1s ease-in-out;
    visibility: hidden;
    opacity: 0;
    &.active {
      visibility: visible;
      opacity: 1;
      & > .main-slider-item__wrapper {
        @include media((
            padding: (xs-lg_1: 10px 15px, lg: 20px 0 20px 29px)
        ));
      }
    }
    @include e(wrapper) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      @include media($grid-width);
      position: relative;
      margin: 0 auto;
      height: 100%;
      @include media((
              padding: (xs-lg_1: 10px 15px 10px 69px, lg: 20px 0 20px 129px)
      ));
      transition: padding 1s ease;
      color: #fff;
      & > h1, h2 {
        text-transform: uppercase;
      }
      & > h1 {
        font-weight: 800;
        font-size: 60px;
        @include media((
            font-size: (xs-lg_1: 30px, lg-xl_1: 50px, xl: 60px)
        ));
      }
      & > h2 {
        font-weight: 700;
        @include media((
                font-size: (xs-lg_1: 25px, lg-xl_1: 35px, xl: 40px)
        ));
      }

    }
  }
}
